section.cards {
    margin: 80px 0 0 0;
}
.containerCards {
    display: grid;
    grid-template-columns: repeat(2,minmax(250px,500px));
    grid-template-rows: repeat(2, 424px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    padding: 20px;
}

@media (max-width:570px) {
    .containerCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}