section.cards {
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.specialtiesTitle {
    margin: 200px 0 0 0;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerTitle {
    color: #2D848D;
    text-align: center;
    font-family: Inter;
    font-size: clamp(2.2rem, 1.3813rem + 1.7986vw, 4.8rem);
    font-style: italic;
    margin: 0 0 8px 0;
}

.containerCards {
    display: grid;
    grid-template-areas: "card card" "card card";
    grid-gap: 30px;
    height: 80vh;
    width: 80%;
    margin: 150px auto;
}

@media (max-width:570px) {
    .containerCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 90%;
        height: 75%;
    }
    section.cards {
        height: 280vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0 0 0 ;
    }
    .specialtiesTitle {
        margin: 150px 0 0 0;
        height: 5vh;
    }
}